.table {
	position: absolute;
}

.list {
	position: relative;
	width: 100%;
	height: 100%;
  }
  
  .list > div {
	position: absolute;
	will-change: transform, width, height, opacity;
	padding:15px;
  }
  
  .list > div > div {
	position: relative;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 10px;
	border-radius: 4px;
	box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
  }


  .containerRef {
	background-color:#171717;
	height: 100%;
	width: 100%;
  }
  
  .full__page {
	width: 100vw;
	height: 100vh;
  }
  .animated__layers {
	width: 100%;
	height: 100%;
	position: fixed;
	inset: 0;
	pointer-events: none;
	z-index: 0;
  }

  .animated__layers > * {
	pointer-events: none;
	width: 100%;
	height: 100%;
	position: fixed;
	inset: 0;
  }
  
  .dot {
	background-image:  url('https://www.silvana.com/app/uploads/movement-gears-background.jpg');
	top: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .title {
	color: rgb(5, 74, 238);
	font-size: 8vw;
	margin-top: 0;
	height: 100%;
	margin-bottom: 0;
  }
  .title > span {
	display: block;
	overflow: hidden;
  }

  .title > span  >span {
	display: block;
  }