body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
  box-sizing: border-box;
  background-color: #161616;
  font-family: 'Montserrat', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}